.nav-animation-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.nav-container h1 {
    color: var(--my-green);
    font-size: 2rem;
    padding: 8px 15px;
}

.nav-toggle {
    border: none;
    color: var(--my-green);
    font-size: 2.4rem;
    position: absolute;
    right: 15px;
    top: 0;
}

.nav-toggle:focus {
    outline: none;
}

.nav {
    height: 0;
    overflow: hidden;
}

.extended {
    animation: extendNavbar 400ms ease-out;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 15px 15px 0;
}

@keyframes extendNavbar {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }
}
    
.nav-active {
    color: var(--my-green);
}

.nav > * {
    font-size: 1.6rem;
    margin-top: 15px;
}
    
.nav-animation {
    animation: animateNavbar 600ms ease-out;
    background-color: var(--my-green);
    height: 4px;
}

@keyframes animateNavbar {
    0% {
        transform: translateX(-110%);
    }   
    100% {
        transform: translateX(0);
    } 
}

@keyframes dropDown {
    0% {
        transform: translateY(-200%);
    }   
    100% {
        transform: translateY(0);
    } 
}

@media only screen and (min-width: 780px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
    }
    
    .nav {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    
    .nav > * {
        color: var(--not-white);
        font-size: 1.4rem;
        padding: 15px 40px;
    }
    
    .nav *:nth-child(1) {
        animation: dropDown 750ms ease-out;
    }
    
    .nav *:nth-child(2) {
        animation: dropDown 600ms ease-out;
    }
    
    .nav *:nth-child(3) {
        animation: dropDown 450ms ease-out;
    }
    
    .nav-container h1 {
        color: var(--my-green);
        font-size: 1.4rem;
        left: 0;
        padding: 15px 40px;
        position: absolute;
        top: 0;
    }

    .nav-toggle {
        display: none;
    }
    
    .nav-active {
        color: var(--my-green);
    }
}
