.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin: 75px;
}

@media only screen and (max-width: 1200px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
        margin: 75px 50px;
    }
}

@media only screen and (max-width: 780px) {
    .portfolio {
        grid-template-columns: 1fr;
        margin: 75px auto;
        width: 95%;
    }
}